<%= form_for [:admin, @admin_organization], :html => { class: 'form-horizontal', :role => "form", autocomplete: 'off' } do |f| %>
  <% if @admin_organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_organization.errors.count, "error") %> prohibited this admin_organization from being saved:</h2>

      <ul>
      <% @admin_organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :'名稱', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <% if @parent %>
    <div class="form-group">
      <%= f.label :'擁有者會員ID', class: 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <input type="hidden" name="parent_id" value="<%= @parent.id %>">
        <input type="text" name="new_user_id" class="form-control">
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :'層數', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <% if @parent %>
        <%= f.text_field :level_count, :class => 'form-control', readonly: true %>
      <% else %>
        <%= f.text_field :level_count, :class => 'form-control' %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :'類型', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.select(:type, {}, {}, {class: 'form-control'})  do %>
        <% Organization::TYPE.each do |type| -%>
          <%= content_tag(:option, type.first, value: type.last) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :'地址', class: 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <select class="form-control" name="organization[area]">
        <% Area::MAIN_AREA.each_with_index do |main_area, main_area_id| %>
          <optgroup label="<%= main_area %>">
            <% Area::SUB_AREA[main_area_id].each_with_index do |sub_area, sub_area_id| %>
              <option value="<%= main_area_id %>-<%= sub_area_id %>"><%= sub_area %></option>
            <% end %>
          </optgroup>
        <% end %>
      </select>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :'敘述', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :descript, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :'電話', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :'傳真', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :fax, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :'email', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-default">送出</button>
    </div>
  </div>
<% end %>
