<h1>組織</h1>
<table class="table table-bordered">
	<tr>
		<th>ID</th>
		<td><%= @admin_organization.id %></td>
	</tr>
	<tr>
		<th>名稱</th>
		<td><%= @admin_organization.name %></td>
	</tr>
	<tr>
		<th>層數</th>
		<td><%= @admin_organization.level_count %></td>
	</tr>
	<tr>
		<th>類型</th>
		<td><%= Hash[Organization::TYPE].invert[@admin_organization.type] %></td>
	</tr>
	<tr>
		<th>地址</th>
		<td>
			<%= Area::MAIN_AREA[@admin_organization.main_area] %>
			<%= Area::SUB_AREA[@admin_organization.main_area][@admin_organization.sub_area] %>
			<%= @admin_organization.address %>
		</td>
	</tr>
	<tr>
		<th>敘述</th>
		<td><%= @admin_organization.descript %></td>
	</tr>
	<tr>
		<th>電話</th>
		<td><%= @admin_organization.phone %></td>
	</tr>
	<tr>
		<th>傳真</th>
		<td><%= @admin_organization.fax %></td>
	</tr>
	<tr>
		<th>email</th>
		<td><%= @admin_organization.email %></td>
	</tr>
	<tr>
		<th>樣式版本</th>
		<td><%= @admin_organization.is_old? %></td>
	</tr>
	<tr>
		<th>管理員</th>
		<td>
			<% if @organ_admins.length > 0 %>
				<table class="table table-bordered">
					<tr>
						<th>管理員名稱</th>
						<th>會員 email</th>
						<th>會員名字/暱稱</th>
						<th>新增於</th>
						<th>更新於</th>
						<th></th>
					</tr>
					<% @organ_admins.each do |organ_admin| %>
						<tr>
							<td><%= organ_admin.name %></td>
							<td><%= organ_admin.user.email %></td>
							<td>
								<% if organ_admin.user.name %>
									<%= organ_admin.user.name %>
									<% if organ_admin.user.nick_name %>
										(<%= organ_admin.user.nick_name %>)	
									<% end %>
								<% elsif organ_admin.user.nick_name %>
									<%= organ_admin.user.nick_name %>
								<% end %>
							</td>
							<td><%= organ_admin.user.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
							<td><%= organ_admin.user.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
							<td>
								<%= link_to '前往會員', admin_user_path(organ_admin.user.id) %> |
								<%= link_to '編輯', edit_admin_organization_authorization_path(organ_admin) %>
							</td>
						</tr>
					<% end %>
				</table>
			<% end %>
			<%= link_to '新增管理員', new_admin_organization_authorization_path(organ: @admin_organization.id) %>
		</td>
	</tr>
</table>
<%= link_to '編輯', edit_admin_organization_path(@admin_organization) %> |
<%= link_to '新增子組織', new_admin_organization_path(parent: @admin_organization.id) %> |
<%= link_to '返回列表', admin_organizations_path %>