<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>名字</th>
      <th>暱稱</th>
      <th>email</th>
      <th>電話</th>
      <th>來源</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
        <td><%= admin_user.id %></td>
        <td><%= admin_user.name %></td>
        <td><%= admin_user.nick_name %></td>
        <td><%= admin_user.email %></td>
        <td><%= admin_user.phone %></td>
        <td>
          <% if admin_user.provider == 'facebook' %>
            <i class="fa fa-facebook-square fa-lg" style="color: #3a5795;"></i>
          <% elsif admin_user.provider == 'gplus' %>
            <i class="fa fa-google-plus-square fa-lg" style="color: red;"></i>
          <% else %>
            本站
          <% end %>
        </td>
        <td>
          <a href="<%= admin_user_path(admin_user.id, recall: request.original_url) %>">
            <span class="glyphicon glyphicon-list-alt"></span>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>