.form-group
  %label.col-sm-2.control-label 出租地址
  .col-sm-3
    .row
      .col-sm-6
        = f.hidden_field :main_area, class: 'form-control'
        %input#item_main_area_input.form-control{type: :text}
      .col-sm-6
        = f.hidden_field :sub_area, class: 'form-control'
        %input#item_sub_area_input.form-control{type: :text}
  .col-sm-2
    = f.text_field :addr_street, class: 'form-control'
  .col-sm-5
    .row
      .col-sm-9
        .input-group
          = f.text_field :addr_alley, class: 'form-control'
          %span.input-group-addon 巷
          = f.text_field :addr_lane, class: 'form-control'
          %span.input-group-addon 弄
          = f.text_field :addr_no, class: 'form-control'
          %span.input-group-addon 號
      .col-sm-3
        %label.checkbox-inline
          = f.check_box :addr_no_is_hidden
          隱藏門號

- Area::MAIN_AREA.each_with_index do |main_area, index|
  .main-area-data{data: {id: "#{index}", value: "#{main_area}"}}
    - Area::SUB_AREA[index].each_with_index do |sub_area, index|
      %div{data: {id: "#{index}", value: "#{sub_area}"}}

:javascript
  var $main_area        = $('#item_main_area'),
      $sub_area         = $('#item_sub_area'),
      $main_area_input  = $('#item_main_area_input'),
      $sub_area_input   = $('#item_sub_area_input'),
      $street_input     = $('#item_addr_street');
  
  var main_area_data = [];

  $('.main-area-data').each(function() {
    var data = {
      id: $(this).data('id'), 
      text: $(this).data('value')
    };
    main_area_data.push(data);
  });

  var getSubArea = function(mainAreaId) {
    var sub_area_data = [];
    $('.main-area-data[data-id="' + mainAreaId + '"]').children().each(function() {
      var data = {
        id: $(this).data('id'), 
        text: $(this).data('value')
      };
      sub_area_data.push(data);
    });
    return sub_area_data;
  };

  $main_area_input.select2({
    formatNoMatches: '無結果',
    placeholder: '選擇縣市',
    data: main_area_data
  });
  $main_area_input.on('select2-selecting', function(e) {
    $main_area.val(e.object.id);

    $sub_area_input.select2('enable', true);  
    $sub_area_input.select2({
      data: getSubArea(e.object.id),
      formatNoMatches: '無結果',
      placeholder: '選擇區'
    });
    $sub_area_input.select2('val', '');
    
  });


  $sub_area_input.select2({
    formatNoMatches: '無結果',
    placeholder: '選擇區',
    data: []
  });
  $sub_area_input.on('select2-selecting', function(e) {
    $sub_area.val(e.object.id);

    $.get('/address/item_streets.json', 
      {
        ma: $main_area.val(), 
        sa: $sub_area.val()
      }, function(data) {
        $street_input.select2('enable', true);
        $street_input.select2({
          data: data,
          formatNoMatches: '無結果',
          placeholder: '選擇街道'
        });
        $street_input.select2('val', '');
          
    })
    
  });
  $sub_area_input.select2('enable', false);

  $street_input.select2({
    data: [],
    formatNoMatches: '無結果',
    placeholder: '選擇街道'
  });
  $street_input.select2('enable', false);
