.form-group.address-area
  %label.control-label 
    %span{style: 'color: red;'} *
    地址
  .col.address-city{class: "#{f.error_class :main_area}"}
    = f.hidden_field :main_area, class: 'form-control'
    %input#item_main_area_input.address-select.form-control{data: {errormessage: "#{f.error_message :main_area}"}}
  .col.address-zone{class: "#{f.error_class :sub_area}"}
    = f.hidden_field :sub_area, class: 'form-control'
    %input#item_sub_area_input.address-select.form-control{data: {errormessage: "#{f.error_message :sub_area}"}}
  .col.address-street{class: "#{f.error_class :addr_street}"}
    = f.text_field :addr_street, class: 'form-control address-select', data: {errormessage: "#{f.error_message :addr_street}"}
.form-group.group-sm-hr
.form-group.address-area
  %label.control-label
  .col.address-alley
    .input-group
      = f.text_field :addr_alley, class: 'form-control'
      %span.input-group-addon 巷
      = f.text_field :addr_lane, class: 'form-control'
      %span.input-group-addon 弄
  .col.address-no{class: "#{f.error_class :addr_no}"}
    .input-group
      = f.text_field :addr_no, class: 'form-control error-tooltip', data: {errormessage: "#{f.error_message :addr_no}"}
      %span.input-group-addon 號
  .col.address-no-hidden
    %label.checkbox-inline
      = f.check_box :addr_no_is_hidden
      隱藏門號

  - Area::MAIN_AREA.each_with_index do |main_area, index|
    .main-area-data{data: {id: "#{index}", value: "#{main_area}"}}
      - Area::SUB_AREA[index].each_with_index do |sub_area, index|
        %div{data: {id: "#{index}", value: "#{sub_area}"}}
.group-lg-hr

:javascript
  
  var $main_area        = $('#item_main_area'),
      $sub_area         = $('#item_sub_area'),
      $main_area_input  = $('#item_main_area_input'),
      $sub_area_input   = $('#item_sub_area_input'),
      $street_input     = $('#item_addr_street'),
      $address_area     = $('.address-area');

  $address_area.on('mouseenter', '.address-select', function() {
    var select2_id      = $(this).attr('id');
    var orignal_id      = select2_id.replace('s2id_', '');
    
    bindTootip($(this), function() {
      return $('#' + orignal_id).data('errormessage');
    });
    $(this).tooltip('show');
  });
  $address_area.on('mouseleave', '.address-select', function() {
    var select2_id = $(this).attr('id');
    var orignal_id = select2_id.replace('s2id_', '');

    $(this).tooltip('hide');
  });
  
  var main_area_data = [];

  $('.main-area-data').each(function() {
    var data = {
      id: $(this).data('id'), 
      text: $(this).data('value')
    };
    main_area_data.push(data);
  });

  var getSubArea = function(mainAreaId) {
    var sub_area_data = [];
    
    if (mainAreaId === '') {
      return sub_area_data;
    }
    
    $('.main-area-data[data-id="' + mainAreaId + '"]').children().each(function() {
      var data = {
        id: $(this).data('id'), 
        text: $(this).data('value')
      };
      sub_area_data.push(data);
    });
    return sub_area_data;
  };

  var getStreets = function(street_val) {
    $.get('/address/item_streets.json', 
      {
        ma: $main_area.val(), 
        sa: $sub_area.val()
      }, function(data) {
        $street_input.select2('enable', true);
        $street_input.select2({
          data: data,
          formatNoMatches: '無結果',
          placeholder: '選擇街道'
        });
        $street_input.select2('val', street_val);
          
    })
  };

  $main_area_input.select2({
    formatNoMatches: '無結果',
    placeholder:     '選擇縣市',
    data:            main_area_data
  });
  $main_area_input.select2('val', $main_area.val());

  $sub_area_input.select2({
    formatNoMatches: '無結果',
    placeholder:     '選擇鄉鎮',
    data:            getSubArea($main_area.val())
  });
  $sub_area_input.select2('val', $sub_area.val());
  if ($main_area.val() == '') {
    $sub_area_input.select2('enable', false);
  }


  if ($sub_area.val() == '') {
    $street_input.select2({
      data:             [],
      formatNoMatches:  '無結果',
      placeholder:      '選擇街道'
    });
    $street_input.select2('enable', false);

  } else {
    getStreets($street_input.val());
  }

  $main_area_input.on('select2-selecting', function(e) {
    $main_area.val(e.object.id);
    
    $sub_area_input.select2('enable', true);  
    $sub_area_input.select2({
      data:             getSubArea(e.object.id),
      formatNoMatches:  '無結果',
      placeholder:      '選擇鄉鎮'
    });
    $sub_area_input.select2('val', '');
    $street_input.select2('val', '');
    $street_input.select2('enable', false);
  });

  $sub_area_input.on('select2-selecting', function(e) {
    $sub_area.val(e.object.id);

    getStreets(0);
    
  });

  
