.form-group
  %label.col-sm-2.control-label 
    %span{style: 'color: red;'} *
    最短租期
  .col-sm-4
    .row
      .col-sm-4
        - types = Item::RentHome::RENT_PERIOD_TYPES
        = f.select :rent_period_type, types, {}, {class: 'form-control'}
      .col-sm-6.rent-period-data-area{style: 'display: none;'}
        .row
          .col-sm-6{class: "#{f.error_class :rent_period_number}"}
            = f.text_field :rent_period_number, class: 'form-control error-tooltip', data: {errormessage: "#{f.error_message :rent_period_number}"}
          .col-sm-6
            - units = Item::RentHome::RENT_PERIOD_UNITS
            = f.select :rent_period_unit, units, {}, {class: 'form-control'}

:javascript
  var $rent_period_data_area    = $('.rent-period-data-area');
  var $rent_period_type_select  = $('#item_rent_period_type');
  var $rent_period_number       = $('#item_rent_period_number');
  var $rent_period_unit         = $('#item_rent_period_unit');

  var togglePeriodData          = function() {
    var periodTypeValue = $rent_period_type_select.find('option:selected').val();

    if (periodTypeValue == 'other') {
      $rent_period_data_area.show();
    } else {
      $rent_period_data_area.hide();
    }
  };

  togglePeriodData();

  $rent_period_type_select.change(function() {
    togglePeriodData();
  });