.form-group
  %label.control-label 
    %span{style: 'color: red;'} *
    最短租期
  .col.period-type
    - types = Item::RentHome::RENT_PERIOD_TYPES
    = f.select :rent_period_type, types, {}, {class: 'form-control'}
  .col.period-amount.rent-period-data-area{class: "#{f.error_class :rent_period_number}"}
    = f.text_field :rent_period_number, class: 'form-control error-tooltip', data: {errormessage: "#{f.error_message :rent_period_number}"}
  .col.period-unit.rent-period-data-area
    - units = Item::RentHome::RENT_PERIOD_UNITS
    = f.select :rent_period_unit, units, {}, {class: 'form-control'}
.form-group.group-lg-hr
  

:javascript
  var $rent_period_data_area    = $('.rent-period-data-area');
  var $rent_period_type_select  = $('#item_rent_period_type');
  var $rent_period_number       = $('#item_rent_period_number');
  var $rent_period_unit         = $('#item_rent_period_unit');

  var togglePeriodData          = function() {
    var periodTypeValue = $rent_period_type_select.find('option:selected').val();

    if (periodTypeValue == 'other') {
      $rent_period_data_area.show();
    } else {
      $rent_period_data_area.hide();
    }
  };

  togglePeriodData();

  $rent_period_type_select.change(function() {
    togglePeriodData();
  });