.form-group.devise-area
  %label.col-sm-2.control-label 提供設備
  .col-sm-8
    %label.checkbox-inline
      = f.check_box :has_device_washer
      洗衣機
    %label.checkbox-inline
      = f.check_box :has_device_freezer
      冰箱
    %label.checkbox-inline
      = f.check_box :has_device_tv
      電視
    %label.checkbox-inline
      = f.check_box :has_device_air_conditioning
      冷氣
    %label.checkbox-inline
      = f.check_box :has_device_water_heater
      熱水器
    %label.checkbox-inline
      = f.check_box :has_device_net
      網路
    %label.checkbox-inline
      = f.check_box :has_device_cable_tv
      第四台
    %label.checkbox-inline
      = f.check_box :has_device_natural_gas
      天然瓦斯
    %label.checkbox-inline
      %input{type: :checkbox, id: :devise_check_all}  
      全選

:javascript
  var $devise_area       = $('.devise-area');
  var $devise_check_all  = $('#devise_check_all');
  var $devise_checkboxes = $devise_area.find('input[type="checkbox"]').not($devise_check_all);
  var $devise_count      = $devise_checkboxes.length;

  var isAllDeviseChecked = function() {
    var $checked_devise = $devise_area.find('input[type="checkbox"]:checked').not($devise_check_all);
    
    return $checked_devise.length == $devise_count;
  };

  $devise_checkboxes.click(function() {
    $devise_check_all.prop('checked', isAllDeviseChecked());

  });

  $devise_check_all.click(function() {
    $devise_checkboxes.prop('checked', $(this).prop('checked'));
  });