<%
 if @sites_admin_item.new_record?
  formUrl = sites_admin_items_path(@organization.id)
 else
  formUrl = sites_admin_item_path(@organization.id, @sites_admin_item.id)
 end
%>

<%= form_for(@sites_admin_item, url: formUrl, :html => { class: 'form-horizontal', :role => "form", autocomplete: 'off' }) do |f| %>
  <% if @sites_admin_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sites_admin_item.errors.count, "error") %> prohibited this sites_admin_item from being saved:</h2>

      <ul>
      <% @sites_admin_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "#{params[:type]}", {f: f} %>      


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
