= render 'col_address', {f: f}
= render 'col_plain', {f: f}
= render 'col_floor', {f: f}
= render 'col_parking', {f: f}
= render 'col_rent_deposit', {f: f}
= render 'col_management_fees', {f: f}
= render 'col_rent_period', {f: f}
= render 'col_nearby_traffic', {f: f}
= render 'col_title', {f: f}
= render 'description_editor', {f: f}  
= render 'photo', {f: f}