= render 'col_address', {f: f}
= render 'col_pattern', {f: f}
= render 'col_floor', {f: f, action_type: '售'}
= render 'col_direction', {f: f}

= render 'col_house_age', {f: f}
= render 'col_house_area', {f: f}
= render 'col_house_price', {f: f}
= render 'col_house_lease', {f: f}

= render 'col_decorating', {f: f}
= render 'col_management_fees', {f: f}


= render 'col_nearby', {f: f}
= render 'col_nearby_traffic', {f: f}
= render 'col_title', {f: f}
= render 'col_description_editor', {f: f}  
= render 'photo', {f: f}