= render 'col_address', {f: f}
= render 'col_pattern', {f: f}
= render 'col_plain', {f: f}
= render 'col_floor', {f: f}
= render 'col_direction', {f: f}
= render 'col_device', {f: f}
= render 'col_furniture', {f: f}
= render 'col_parking', {f: f}
= render 'col_rent_deposit', {f: f}
= render 'col_rent_include', {f: f} 
= render 'col_management_fees', {f: f}
= render 'col_rent_period', {f: f}
= render 'col_allow_move_in', {f: f}
= render 'col_identity_require', {f: f}
= render 'col_cooking_allow', {f: f}
= render 'col_pet_allow', {f: f}
= render 'col_nearby', {f: f}
= render 'col_nearby_traffic', {f: f}
= render 'col_title', {f: f}
= render 'col_description_editor', {f: f}  
= render 'photo', {f: f}