= render 'col_address', {f: f}
= render 'col_plain', {f: f}
= render 'col_floor', {f: f, action_type: '租'}
= render 'col_rent_deposit', {f: f}
= render 'col_rent_period', {f: f}
= render 'col_nearby_traffic', {f: f}
= render 'col_title', {f: f}
= render 'col_description_editor', {f: f}  
= render 'photo', {f: f}