= render 'address', {f: f}
= render 'plain', {f: f}
= render 'floor', {f: f}
= render 'rent_deposit', {f: f}
= render 'col_rent_period', {f: f}
= render 'nearby_traffic', {f: f}
= render 'title', {f: f}
= render 'description_editor', {f: f}  
= render 'photo', {f: f}