= render 'col_address_land', {f: f}
= render 'col_land_area', {f: f}
= render 'col_land_type', {f: f}
= render 'col_land_usage', {f: f}
= render 'col_rent_deposit', {f: f}
= render 'col_rent_period', {f: f}
= render 'col_title', {f: f}
= render 'description_editor', {f: f}  
= render 'photo', {f: f}