= render 'address', {f: f}
= render 'col_parking_plain', {f: f}
= render 'col_parking_cate', {f: f}
= render 'col_parking_type', {f: f}
= render 'rent_deposit', {f: f}
= render 'col_rent_period', {f: f}
= render 'title', {f: f}
= render 'description_editor', {f: f}  
= render 'photo', {f: f}