= render 'col_address', {f: f}

= render 'col_place_type', {f: f}
= render 'col_place_usage', {f: f}
= render 'col_place_area', {f: f}
= render 'col_place_capacity', {f: f}
= render 'col_place_floor', {f: f}
= render 'col_place_parking', {f: f}
= render 'col_place_rent', {f: f}
= render 'col_place_manager', {f: f}

= render 'col_nearby_traffic', {f: f}
= render 'col_title', {f: f}
= render 'col_description_editor', {f: f}  
= render 'photo', {f: f}