%form.form-horizontal
  .form-group.info-row
    .control-label.info-label 售金:
    .info-content
      %p.form-control-static
        = number_to_currency(item.house_price_ten_thousand, unit: '', precision: 0)
        萬元
        = item.house_price_include_parking ? '（含車位價格）' : '（不含車位價格）' 

%form.form-horizontal
  .form-group.info-row
    .control-label.info-label 參考單價:
    .info-content
      %p.form-control-static
        = number_to_currency(get_reference_house_price_ten_thousand_by_plain(item), unit: '', precision: 2)
        萬元/坪

  - if has_pattern?(item)
    .form-group.info-row
      .control-label.info-label 格局:
      .info-content
        %p.form-control-static
          = get_pattern(item)
        
  .form-group.info-row
    .control-label.info-label 權狀坪數:
    .info-content
      %p.form-control-static
        = get_house_plain(item) 
        坪
        = item.house_area_include_parking ? '（含車位面積）' : '（不含車位面積）' 

  .form-group.info-row
    .control-label.info-label 樓層:
    .info-content
      %p.form-control-static
        = get_floor(item)

  .form-group.info-row
    .control-label.info-label 類型:
    .info-content
      %p.form-control-static
        = translate_item_type_action item
        = translate_item_type_name item

  .form-group.info-row
    .control-label.info-label 屋齡:
    .info-content
      %p.form-control-static
        = item.house_age
        = Item::SaleHome::AGE_UNITS[item.house_age_unit.to_sym]

  - if item.house_parking_price.present?
    .form-group.info-row
      .control-label.info-label 車位:
      .info-content
        %p.form-control-static
          = item.house_parking_price 
          萬元

  .form-group.info-row
    .control-label.info-label 社區:
    .info-content
      %p.form-control-static
        = ''

  .form-group.info-row
    .control-label.info-label 地址:
    .info-content
      %p.form-control-static
        = get_address(item)
  .form-group.info-row
    = render 'info_contact', {item: item}
  