%form.form-horizontal
  .form-group.info-row
    .control-label.info-label 租金:
    .info-content
      %p.form-control-static
        = number_to_currency(item.total_price, unit: '', precision: 0)
        元/月
  .form-group.info-row
    .control-label.info-label 押金:
    .info-content
      %p.form-control-static
        = get_deposit(item)

  .form-group.info-row
    .control-label.info-label 格局:
    .info-content
      %p.form-control-static
        = get_pattern(item)
        
  .form-group.info-row
    .control-label.info-label 坪數:
    .info-content
      %p.form-control-static
        = item.inner_amount

  .form-group.info-row
    .control-label.info-label 樓層:
    .info-content
      %p.form-control-static
        = get_floor(item)

  .form-group.info-row
    .control-label.info-label 類型:
    .info-content
      %p.form-control-static
        = translate_item_type_action item
        = translate_item_type_name item
  .form-group.info-row
    .control-label.info-label 車位:
    .info-content
      %p.form-control-static
        = item.has_parking ? '有' : '無'

  .form-group.info-row
    .control-label.info-label 社區:
    .info-content
      %p.form-control-static
        = ''

  .form-group.info-row
    .control-label.info-label 地址:
    .info-content
      %p.form-control-static
        = get_address(item)
  .form-group.info-row
    = render 'info_contact', {item: item}
  